click==7.1.2
cycler==0.10.0
Flask==1.1.2
Flask-Excel==0.0.7
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.15.1
kiwisolver==1.2.0
lml==0.0.9
MarkupSafe==1.1.1
matplotlib==3.2.2
numpy==1.22.0
pandas==1.0.5
pyexcel==0.6.2
pyexcel-io==0.5.20
pyexcel-webio==0.1.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.23.1
scipy==1.5.0
seaborn==0.10.1
six==1.15.0
sklearn==0.0
texttable==1.6.2
threadpoolctl==2.1.0
Werkzeug==1.0.1
xlrd==1.2.0
